.highlight {
    color: black;
    background: yellow;
    font-style: normal;
    padding-left: 3px;
    padding-right: 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 3px;
    border-radius: 3px;
    text-decoration: none;
}